= f.error_notification
.span4
  -# todo: autocompletar de productos
  = f.association :product
  = f.input :quantity
  = f.input :discount
  = f.input :discount_type, collection: ['%', '$']
.span4
= content_for :form_actions do
  = link_to_function 'Cerrar', "$('#modal').modal('toggle');", class: 'btn'


