<table class="table table-bordered table-striped">
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Posición</th>
    <th></th>
  </tr>

<% @product_types.each do |product_type| %>
  <tr>
    <td><%= product_type.name %></td>
    <td><%= product_type.description %></td>
    <td><%= product_type.position %></td>
    <td><%= link_to 'Ver', product_type %><br />
    <%= link_to 'Editar', edit_product_type_path(product_type) %><br />
    <%= link_to 'Destruir', product_type, confirm: 'Estas seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo tipo de producto', new_product_type_path %>