<%= form_for(@precioproducto) do |f| %>
  <% if @precioproducto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@precioproducto.errors.count, "error") %> prohibited this precioproducto from being saved:</h2>

      <ul>
      <% @precioproducto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :public_price %><br />
    <%= f.text_field :public_price %>
  </div>
  <div class="field">
    <%= f.label :detail %><br />
    <%= f.text_field :detail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
