%table.table.table-striped.table-bordered
  %thead
    %tr
      %th= Price.human_attribute_name :cost
      %th= Price.human_attribute_name :public_price
      %th= t('models.prices.winnings')
      %th= Price.human_attribute_name :detail
      %th= Price.human_attribute_name :created_at
  %tbody#prices_body
    = render partial: 'file_row', collection: @prices, as: :price

= link_to_back :back, title: t('admin.prices.index.back_to_product', product: @product)
