<table>
  <tr>
    <th>Costo</th>
    <th>Precio venta</th>
    <th>Detalle</th>
    <th>Creado</th>
    <th></th>
  </tr>

<% @prices.each do |precioproducto| %>
  <tr>
    <td><%= precioproducto.cost %></td>
    <td><%= precioproducto.public_price %></td>
    <td><%= precioproducto.detail %></td>
    <td><%= precioproducto.created_at.to_s(:simple) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Price', new_admin_price_path(@product) %>
