%p#notice= notice

%p
  %b Title:
  = @information.title
%p
  %b Body:
  = @information.body
%p
  %b Active:
  = @information.active
%p
  %b User:
  = @information.user_id

= link_to 'Edit', edit_information_path(@information)
\|
= link_to 'Back', information_index_path
