.span3
  %p
    %b= t('.name')
    = @order.name
  %p
    %b= t('.address')
    = @order.address
  %p
    %b= t('.email')
    = @order.email
  %p
    %b= t('.paytype')
    = @order.payment_method.name
  %p
    %b Estado:
    = @order.estadordens.last.estado
    -#todo: tooltip si se ha demorado o cancelado mostrando el motivo, agregar el motivo a la tabla de estadorden cuando haga el refactor
    - if @order.estadordens.last.user
      por #{@order.estadordens.last.user.name }
  = link_to t('commmon.back'), :back, class: 'btn btn-inverse stitched'
.span6
  %table.table.table-striped
    %thead
      %tr
        %th.pull-right Cantidad
        %th Producto
        %th Subtotal
    %tbody
      -#todo: no deberia usar este partial debaria usar uno personalizado.
      = render partial: 'line_items/line_item', collection: @order.line_items
      %tr
        %td
        %td.pull-right
          %b Total:
        %td.cart-total= number_to_currency(@order.total)
      - if session[:user_id]
        %tr
          %td
          %td.pull-rightl
            %b Costo:
          %td= number_to_currency @order.cost
= render partial: 'state_panel'
.clearfix
