<div>
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', :count=>@user.errors.size, :model=>t('activerecord.models.user')) %>.</h2>
      <p><%= t('errors.template.body') %></p>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= raw msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <fieldset>
      <legend><%= t('.legend') %></legend>
      <div>
        <%= f.label :name, t('.name') %>
        <%= f.text_field :name, :size => 40 %>
      </div>
      
      <div>
        <%= f.label :password, t('.pass')%>
        <%= f.password_field :password, :size=>40 %>
      </div>
      
      <div>
        <%= f.label :password_confirmation, t('.confirm') %>
        <%= f.password_field :password_confirmation, :size => 40%>
      </div>
      
      <div>
        <%= f.submit t('.submit')%>
      </div>
    </fieldset>
  <% end %>
</div>
