%ul.main-nav
  %li= link_to t('.orders'), orders_path, class: current_section([orders_path])
  -#- Estadorden::ESTADOS.each do |estado|
  -#  %li= link_to ' | ' + estado + 's', orders_path(estadoOrden: estado)
  %li= link_to t('.catalog'), products_path, class: current_section([products_path])
  %li= link_to 'Tipos de productos', product_types_path, class: current_section([product_types_path])
  %li= link_to t('.paytypes'), mediopagos_path, class: current_section([mediopagos_path])
  %li= link_to t('.users'), users_path, class: current_section([users_path])
