.colorFullMenu.left
  %ul.unstyled
    %li.header.border.red= link_to t('.promotions'), promotions_path, class: current_section([promotions_path])
    %li.header.border.orange= link_to t('.orders'), orders_path, class: current_section([orders_path])
    -#- Estadorden::STATUSES.each do |estado|
    -#  %li.header.border.lightBlue= link_to ' | ' + estado + 's', orders_path(estadoOrden: estado)
    %li.header.border.yellow= link_to t('.catalog'), products_path, class: current_section([products_path])
    %li.header.border.green= link_to 'Tipos de productos', admin_product_types_path, class: current_section([admin_product_types_path])
    %li.header.border.lightBlue= link_to t('.paytypes'), admin_payment_methods_path, class: current_section([admin_payment_methods_path])
    %li.header.border.cyan= link_to t('.users'), admin_users_path, class: current_section([admin_users_path])
    %li.header.border.blue= link_to t('.news'),admin_posts_path, class: current_section([admin_posts_path])

    -#todo: current_section para subsecciones
