.modal
  = simple_form_for @order, html: { remote: true, data: { target: 'modal', modal: true, error: 'modal' }, class: 'form-horizontal' } do |f|
    .modal-header
      %h1= t('.title')
    .modal-body
      = render partial: 'form', locals: { f: f }
    .modal-footer
      = yield :form_actions
      = f.submit t('orders.form.submit'), class: 'btn btn-primary', disable_with: t('orders.form.submiting')
