<%= content_tag :p, notice, id:'notice' if notice.present? %>

<p>
  <b><%= t('.name') %></b>
  <%= @order.name %>
</p>

<p>
  <b><%= t('.address') %></b>
  <%= @order.address %>
</p>

<p>
  <b><%= t('.email') %></b>
  <%= @order.email %>
</p>

<p>
  <b><%= t('.paytype') %></b>
  <%= @order.mediopago.nombre %>
</p>

<% @total=0 %>
<% @costo=0 %>
  <table class="detalleOrden">
    <% @order.line_items.each do |item| %>
    <tr>
      <td><%= item.quantity %> x <%= link_to item.product.titulo, item.product %></td>
      <td id="segundaCol"><%= number_to_currency(item.total_price) %></td>
          <% @costo += item.total_costo %>
          <% @total += item.total_price %>
      <td></td>
    </tr>    
    <%  end %>
    <tr id="total_orden">
      <td id="total"><b>Total:</b></td>
      <td id="total_num"><%= number_to_currency(@total) %></td>
      <td><b>Costo:</b><%= number_to_currency @costo %></td>
    </tr>
  </table>
<b>Estado de la orden: </b><%= @order.estadordens.last.estado %> por
<%= @order.estadordens.last.user.name %><br/><br/>

<%= link_to t('.edit'), edit_order_path(@order) %> |
<%= link_to t('.back'), orders_path %><br/><br/>

<% unless @order.estadordens.last.estado == "Cancelada" %>
<div id="panelEstados">Estados: <br/>

  <% if @order.estadordens.last.estado == "Lista" %>
      <div id="lineaEstado">
        <%= link_to "Entregada", nuevoEstado_path(order_id: @order.id, estado: "Entregada") %>
      </div>
  <% end %>

  <% Estadorden::ESTADOS.each do |estado| %>
    <% if Order.buscarConEstado(@order, estado) || estado=="Demorada" %>
        <div id="lineaEstado">
        <%= link_to estado, nuevoEstado_path(order_id: @order.id, estado: estado) %></div>

    <% elsif @order.estadordens.last.estado == "Demorada" %>
        <% unless(estado == "Demorada" || estado=="Pendiente" || estado=="Leido") %>
          <div id="lineaEstado">
            <%= link_to estado, nuevoEstado_path(order_id: @order.id, estado: estado) %>
          </div>
        <% end %>
    <% end %>

  <% end %>
</div>
<% end %>