<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @tipoproducto.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @tipoproducto.descripcion %>
</p>


<%= link_to 'Edit', edit_tipoproducto_path(@tipoproducto) %> |
<%= link_to 'Back', tipoproductos_path %>
