%table.table.table-striped.table-bordered
  %thead
    %tr
      %th= t('activerecord.attributes.post.title')
      %th= t('activerecord.attributes.post.body')
      %th= t('activerecord.attributes.post.active') + '?'
      %th Usuario
      %th.span2
  %tbody#posts_body
    = render @posts

= srbuj_link_to_new t('admin.posts.index.add'), new_admin_post_path, title: t('admin.posts.index.add_tooltip')
