<div id="carrito">
  <h1 class="cart_title"><%= t('.title') %></h1>
  <div class="span6">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Cantidad</th>
        <th>Detalle</th>
        <th>Subtotal</th>
      </tr>
      </thead>
      <tbody>
      <%= render @cart.line_items %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="span6">
      <h2 class="pull-right">
        <%= t('.total') %>
        <%= number_to_currency(cart.total_price) %>
      </h2>
    </div>
    <div class="span3">
      <%= link_to t('.buy'), new_order_path, class: 'btn btn-primary btn-large stitched margin-5', remote: true, data: { target: 'modal', modal: true } %>
      <%= link_to t('.emptycart'), cart, method: :delete, confirm: t('.confirm'), class: 'btn btn-danger btn-small stitched margin-5' %>
    </div>
  </div>
  </div>
</div>