<h1><%= t('.title') %></h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @carts.each do |cart| %>
  <tr>
    <td><%= cart.id %></td>
    <td><%= link_to t('.show'), cart %></td>
    <td><%= link_to t('.edit'), edit_cart_path(cart) %></td>
    <td><%= link_to t('.destroy'), cart, :confirm => t('.deleteconfirm'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />