= f.error_notification

= f.input :title, input_html: { class: 'span8' }
.row-fluid
  .span3
    = f.input :start_date, as: :string, input_html: { class: 'datepicker', value: (@start_date ? @start_date.strftime('%d/%m/%Y') : Date.today.strftime('%d/%m/%Y')) }
  .span3
    = f.input :end_date, as: :string, input_html: { class: 'datepicker', value: (@end_date ? @end_date.strftime('%d/%m/%Y') : (Date.today + 1.months).strftime('%d/%m/%Y'))}
  .span2
    = f.input :color_combo, collection: Promotion::AVAILABLE_COLORS
= f.input :description, input_html: { rows: 5, class: 'span8' }


