<p>
  <b><%= t('.name') %></b>
  <%= @mediopago.nombre %>
</p>

<p>
  <b><%= t('.desc') %></b>
  <%= @mediopago.descripcion %>
</p>


<%= link_to t('.edit'), edit_mediopago_path(@mediopago) %> |
<%= link_to t('.back'), mediopagos_path %>
