!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
  %body
    %h1= "Sr./Sra. #{@order.name}"

    Su orden de:
    = render partial: 'order_mailer/order'

    = "Total: #{number_to_currency(@order.total)}"


    Ya esta preparada y lista para ser entregada. Nos comunicaremos a la brevedad para establecer hora y punto de encuentro.

    Muchas gracias.

    Un Mundo De Ovejitas.