.modal
  = simple_form_for ['admin', @product], html: { remote: true, class: 'form-horizontal',
    data: { target: 'products_body', modal: true, error: 'modal' } } do |f|
    .modal-header
      %h3= t('admin.products.new.title')
    .modal-body
      = render partial: 'form', locals: { f: f }
    .modal-footer
      = f.submit t('admin.products.new.submit'), disable_with: t('admin.products.new.submiting'), class: 'btn btn-primary stitched btn-large'
      = yield :form_actions