<%= form_for(@precioproducto, :url => precionuevo_url(:id=>@product)) do |f| %>
  <% if @precioproducto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@precioproducto.errors.count, "error") %> prohibited this precioproducto from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= @product.titulo %><br/><br/>
<div class="field">
  <%= f.label :cost %> <br/>
  <%= f.text_field :cost%>
</div>
<div class="field">
  <%= f.label :public_price %>  <br/>
  <%= f.text_field :public_price%>
</div>
<div class="field">
  <%= f.label :detail %>    <br/>
  <%= f.text_field :detail %>
</div>
<div class="field">  <br/>
  <%#= f.label :validodesde %>
  <%#= f.date_select :validodesde %>
</div>

<div class="actions">
  <%= f.submit(:value => "Añadir precio") %>
</div><br/>
<% end %>