<%= form_for(@precioproducto, :url => precionuevo_url(:id=>@product)) do |f| %>
  <% if @precioproducto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@precioproducto.errors.count, "error") %> prohibited this precioproducto from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= @product.titulo %><br/><br/>
<div class="field">
  <%= f.label :costo %> <br/>
  <%= f.text_field :costo%>
</div>
<div class="field">
  <%= f.label :preciopublico %>  <br/>
  <%= f.text_field :preciopublico%>
</div>
<div class="field">
  <%= f.label :detalle %>    <br/>
  <%= f.text_field :detalle%>
</div>
<div class="field">  <br/>
  <%#= f.label :validodesde %>
  <%#= f.date_select :validodesde %>
</div>

<div class="actions">
  <%= f.submit(:value => "Añadir precio") %>
</div><br/>
<% end %>