.container-full.product-show
  .row
    .span6
      .pull-right
        %p
          = @product.descripcion
        = image_tag(@product.image_url, class: 'imagen')
        %p
          %b= Product.human_attribute_name(:image_url) + ':'
          = @product.image_url
        - if @product.product_types.any?
          %p
            - @product.product_types.each do |pt|
              %span.badge= pt.name
        = link_to_back admin_products_path, title: t('admin.products.show.back_to_catalog')
    .span3
      %p
        %b= Product.human_attribute_name :cantidad
        = @product.cantidad
      = render partial: 'admin/prices/price', locals: { cost: @product.actual_cost, price: @product.actual_public_price}
      = link_to t('.old_prices'), admin_product_prices_path(@product)
      %hr
      = srbuj_link_to_new t('.new_price'), ['new', 'admin', @product, 'price'], title: t('.new_price_tooltip')

  - if @related_promotions.any?
    .row
      %hr
      %h2= t('.related_promotions')
      = render partial: 'promotions/promotion', collection: @related_promotions
