.container-full.product-show
  .row
    .span6
      .pull-right
        %p
          = @product.descripcion
        = image_tag(@product.image_url, class: 'imagen')
        %p
          %b= Product.human_attribute_name(:image_url) + ':'
          = @product.image_url
        - if @product.product_types.any?
          %p
            - @product.product_types.each do |pt|
              %span.badge= pt.name
    .span3
      %p
        %b= Product.human_attribute_name :cantidad
        = @product.cantidad
      %p
        %b= t('models.products.actual_cost')
        .price= number_to_currency(@product.actual_cost)
      .clearfix
      %p
        %b= t('models.products.actual_public_price')
        .price= number_to_currency(@product.actual_public_price)
      .clearfix
      %p
        %b= t('models.products.winnings')
        = number_to_currency(@product.actual_public_price - @product.actual_cost)
      = link_to t('.old_prices'), precioproductos_path(product: @product)
      %hr
      = link_to_new t('.new_price'), precionuevo_path(@product), title: t('.new_price_tooltip')

  - if @related_promotions.any?
    .row
      %hr
      %h2= t('.related_promotions')
      = render partial: 'promotions/promotion', collection: @related_promotions
