.well{id: dom_id(promotion_line)}
  .pull-right= link_to_destroy promotion_line_path(@promotion, promotion_line), remote: true, data: { target: dom_id(promotion_line), callback: 'updatePromotionTotal' }, class: 'btn btn-danger btn-mini'
  %h3 #{promotion_line.quantity} x #{promotion_line.product.titulo}
  %p Descuento: #{promotion_line.discount}#{promotion_line.discount_type}
  %p Precio con descuento: #{number_to_currency promotion_line.total}
  %span.hide{ data: { promotion_line_total: true } }= promotion_line.total
