%tr{ id: dom_id(post) }
  %td= post.title
  %td= truncate(strip_tags(post.body), length: 40)
  %td= post.active
  %td= post.user.name
  %td= link_to 'Ver', post, remote: true, data: { target: 'modal', modal: true }
  %td= link_to 'Editar', edit_post_path(post), remote: true, data: { target: 'modal', modal: true }
  %td= link_to 'Destruir', post, method: :delete, data: { confirm: 'Estas seguro?' }, remote: true, data: { target: dom_id(post) }