%table.table.table-striped.table-bordered
  %thead
    %tr
      %th= t('activerecord.attributes.post.title')
      %th= t('activerecord.attributes.post.body')
      %th= t('activerecord.attributes.post.active') + '?'
      %th Usuario
      %th
      %th
      %th
  %tbody#posts_body
    = render @posts
%br

= link_to 'Agregar novedad', new_post_path, class: 'btn btn-primary stitched', remote: true, data: { target: 'modal', modal: true }
