.modal
  = simple_form_for ['admin', @user], html: { remote: true, data: { target: 'users_body', modal: true, error: 'modal' } } do |f|
    .modal-header
      %h3= t('admin.users.new.title')
    .modal-body
      = render partial: 'form', locals: { f: f }
    .modal-footer
      = f.submit t('admin.users.form.submit'), class: 'btn btn-primary stitched btn-large', disable_with: t('admin.users.form.submiting')
      = yield :form_actions
