.promotion{ class: "promotion-#{promotion.color_combo}"}
  .span2.title
    %h1= promotion.title
    %h3= promotion.description

  .span8
    = render partial: 'store/promotion_line', collection: promotion.promotion_lines
  .span2.total
    %h2
      Todo por
      %span= number_to_currency promotion.total
    = link_to t('store.index.addToCart'), line_items_path(promotion_id: promotion),
      remote: true, data: { target: (@promotions_in_cart.include?(promotion.id) ? "line_#{dom_id(promotion)}" :'line_items_table_body'),
                            replace: @promotions_in_cart.include?(promotion.id) ? true : false,
                            respond_as: @promotions_in_cart.include?(promotion.id) ? :put : :post,
                            callback: "updateCart(#{promotion.id.to_s}, 'promotion')" },
      method: :post, class: 'btn btn-warning add-to-cart-fill stitched', id: "add_#{dom_id(promotion)}"
  .clearfix
