%h1 Listing promotions

%table
  %tr
    %th Title
    %th Color combo
    %th Estado
    %th Total
    %th Start date
    %th End date
    %th
    %th
    %th

  - @promotions.each do |promotion|
    %tr
      %td= promotion.title
      %td= promotion.color_combo
      %td= promotion.state
      %td= promotion.total
      %td= promotion.start_date
      %td= promotion.end_date
      %td= link_to 'Show', promotion
      %td= link_to 'Edit', edit_promotion_path(promotion)
      %td= link_to 'Destroy', promotion, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Promotion', new_promotion_path
