%h1 Listado de Promociones

%table.table.table-striped.table-bordered
  %tr
    %th Titulo
    %th Fecha Inicio
    %th Fecha Finalizacion
    %th Color combo
    %th Estado
    %th Total
    %th

  - @promotions.each do |promotion|
    %tr
      %td= promotion.title
      %td= promotion.start_date.strftime('%d/%m/%Y')
      %td= promotion.end_date.strftime('%d/%m/%Y')
      %td= promotion.color_combo
      %td= promotion.state
      %td= promotion.total
      %td
        = link_to 'Ver', promotion
        %br
        = link_to 'Editar', edit_promotion_path(promotion)
        %br
        = link_to 'Eliminar', promotion, :method => :delete, :data => { :confirm => 'Estas seguro?' }

%br

= link_to 'Nueva Promocion', new_promotion_path, class: 'btn btn-primary'
