%h1 Promocion: "#{@promotion.title}"
.span3
  %p
    %b Descripcion:
    = @promotion.description
  %p
    %b Color combo:
    = @promotion.color_combo
  -#todo: sacarlo de aca
  -#%p
  -#  %b Total:
  -#  = @promotion.total
  %p
    %b Start date:
    = @promotion.start_date.strftime('%d/%m/%Y')
  %p
    %b End date:
    = @promotion.end_date.strftime('%d/%m/%Y')
  = render partial: 'state'
.span8
  %h2 Agrega productos a tu promoción!
  #promotion_lines
    = render partial: 'promotion_lines/promotion_line', collection: @promotion_lines
  = link_to 'Agregar producto', new_promotion_line_path(@promotion), class: 'btn btn-primary', remote: true, data: {target: 'modal', modal: true}
.clearfix
= link_to 'Editar', edit_promotion_path(@promotion)
\|
= link_to 'Volver', promotions_path
