.product
  .product-image-container
    = link_to image_tag(product.image_url, class: 'product-image'), product
  %h3.product-title= product.titulo
  .product-description
    .description= sanitize(product.descripcion)
    .price= number_to_currency(product.actual_public_price)
  = link_to t('store.index.addToCart'), line_items_path(product_id: product),
    remote: true, data: { target: (@products_in_cart.include?(product.id) ? "line_#{dom_id(product)}" :'line_items_table_body'),
                          replace: @products_in_cart.include?(product.id) ? true : false,
                          respond_as: @products_in_cart.include?(product.id) ? :put : :post,
                          callback: "updateCart(#{product.id.to_s}, 'product')" },
    method: :post, class: 'btn btn-warning add-to-cart-fill', id: "add_#{dom_id(product)}"
