<h1><%= t('.title') %></h1>

<table class="table table-bordered table-striped">

<% @products.each do |product| %>
  <tr>
    <td class="admin-product-image">
      <%= image_tag(product.image_url, class: 'admin-product-image') %>
    </td>
    <td class="list_description">
      <dl>
        <h3><%=  product.titulo %></h3>
        <dd><%= truncate(strip_tags(product.descripcion), :length => 80) %></dd>
        <dd><b>Tipo de Producto:</b> <%= product.tipoproducto.nombre if product.tipoproducto %></dd>
        <dd><b>Costo actual:</b> $<%= product.precioproductos.last.costo %></dd>
        <dd><b>Precio al público actual:</b> $<%= product.precioproductos.last.preciopublico %></dd>
      </dl>
    </td>

    <td class="list_actions">
      <%= link_to t('.show'), product %><br />
      <%= link_to t('.edit'), edit_product_path(product) %><br />
      <%= link_to t('.destroy'), product, :confirm => t('.confirm'), :method => :delete %>
    </td>

  </tr>
<% end %>
</table>

<div id="paginacion"><%= will_paginate @products %></div>

<br />

<%= link_to t('.new'), new_product_path, class: 'btn btn-primary' %>