<tr>
  <td><%= link_to t('.delete'), line_item_path(line_item), method: :delete,
                  confirm: t('.confirm'), class: 'pure-button pure-button-error' %></td>
  <td><%= line_item.quantity %></td>
  <% if line_item.product %>
    <td><%= truncate(strip_tags(line_item.product.titulo), length: 40) %></td>
<% else %>
    <td><%= truncate(strip_tags(line_item.promotion.title), length: 40) %></td>
  <% end %>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
</tr>
