<tr>
  <td>
    <%= link_to_destroy line_item_path(line_item), confirm: t('.confirm'), class: 'red' unless params[:controller] == 'orders' %>
    <span class="pull-right"><%= line_item.quantity %></span>
  </td>
  <% if line_item.product %>
    <td><%= truncate(strip_tags(line_item.product.to_s), length: 40) %></td>
<% else %>
    <td><%= truncate(strip_tags(line_item.promotion.title), length: 40) %></td>
  <% end %>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
</tr>
