<h1><%= "Diseñador/Programador:"%></h1>
<%="Lucas Padovan - lucaslockon@gmail.com"%><br/><br/>
<h1><%= "Traductores:"%></h1>
<%= "Italiano: Rosana Cristiano - croxie_7@hotmail.com"%><br/>
<%= "Francés: Christian Vidal - xvidal10@cv.com" %>
