<!DOCTYPE html>
<html>
<head>
  <title>Basic Store</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tag %>
</head>
<body id="store">
  <div class="banner">
    <div class="rainbow-background">
      <div class="banner-content">
        <%= render partial: 'shared/locale_selector' %>
        <%= render partial: 'shared/login' %>
        <div class="title">
          <%= link_to APP_CONFIG['page_title'], store_path, data: { toggle: 'tooltip' }, title: 'Inicio'%>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-full">
    <div class="content">
      <div class="row-fluid">
        <%= render partial: 'shared/admin_menu', params: params %>
      <div class="span10">
        <%= render partial: 'shared/store_menu', params: params %>
        <%= yield %>
      </div>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</body>
<%= javascript_include_tag 'application' %>
</html>
